<ion-card>
  <ion-card-content>
    <div>
      <section>
        <article>
          <ion-label class="titulo-caso">
            CASO:
          </ion-label>
          <p>
            Caso teste
          </p>
        </article>

        <article>
          <ion-label class="titulo-caso">
            DESCRIÇÃO:
          </ion-label>
          <p>
            Descrição teste
          </p>
        </article>

        <article>
          <ion-label class="titulo-caso">
            VALOR:
          </ion-label>
          <p>
            R$ 120,00
          </p>
        </article>
      </section>
    </div>

  </ion-card-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-card>