<ion-card>
  <ion-card-content>
    <div>
      <section>
        <article>
          <ion-label class="titulo-caso">
            <h3>CASO:</h3>
          </ion-label>
          <ion-label>Caso teste</ion-label>
        </article>

        <article>
          <ion-label class="titulo-caso">
            <h3>DESCRIÇÃO:</h3>
          </ion-label>
          <ion-label>Descrição teste</ion-label>
        </article>

        <article>
          <ion-label class="titulo-caso">
            <h3>VALOR:</h3>
          </ion-label>
          <ion-label>R$ 120,00</ion-label>
        </article>
      </section>
    </div>

    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>