<ion-content>
  <div class="conteudo">
    <ion-card>
      <ion-card-content>
        <section class="descricao-cadastrar">
          <article>
            <ion-img src="../../assets/logo.svg"></ion-img>
          </article>
          <article>
            <h1>Cadastrar novo caso</h1>
            <ion-label class="ion-text-wrap">
              Descreva o caso detalhadamente para encontrar um herói que possa resolvê-lo.
            </ion-label>
          </article>
          <ion-button class="link" fill="clear" routerLink="/profile">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <ion-label>Voltar Para home</ion-label>
          </ion-button>
        </section>

        <section>
          <form>
            <div>
              <ion-input placeholder="Título do caso"></ion-input>
              <ion-textarea placeholder="Descrição"></ion-textarea>
              <ion-input placeholder="Valor em reais" type="number"></ion-input>
            </div>
            <div>
              <ion-button class="buttonLogin" expand="block" fill="clear">
                Cancelar
              </ion-button>
              <ion-button class="buttonLogin" expand="block" fill="clear">
                Cadastrar
              </ion-button>
            </div>
          </form>
        </section>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>