.descricao-cadastrar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    ;
}


section {
    width: 45%;
}

ion-img {
    max-width: 250px;
    margin: 0 auto;
}

.endereco {
    display: flex;
}

.estado {
    max-width: 25%;
    margin-left: 10px;
}

h1 {
    padding-bottom: 4%;
}
