<ion-content>
  <div class="conteudo">
    <ion-card>
      <ion-card-content>
        <section class="descricao-cadastrar">
          <article>
            <ion-img src="../../assets/logo.svg"></ion-img>
          </article>
          <article>
            <h1>Cadastrar</h1>
            <ion-label class="ion-text-wrap">
              Faça seu cadastro, entre na plataforma e
              ajude pessoas a encontrar os casos da sua ONG.
            </ion-label>
          </article>
          <a routerLink="">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <ion-label>Voltar Para Logon</ion-label>
          </a>
          <!-- <ion-button class="link" fill="clear" routerLink="/">
          </ion-button> -->
        </section>
        <section>
          <form>
            <div>
              <ion-input placeholder="Nome da ONG"></ion-input>
              <ion-input placeholder="E-mail"></ion-input>
              <ion-input placeholder="WhatsApp"></ion-input>
              <div class="endereco">
                <ion-input placeholder="Cidade"></ion-input>
                <ion-input placeholder="UF" class="estado" maxlength="2" type="text"></ion-input>
              </div>
            </div>
            <div>
              <ion-button class="buttonLogin" expand="block" fill="clear">
                Cadastrar
              </ion-button>
            </div>
          </form>
        </section>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>