<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logon-container">
    <div>
      <div>
        <img src="../../assets/logo.svg">
      </div>
      <form>
        <ion-label>
          <h1>
            Faça seu Logon
          </h1>
        </ion-label>
        <ion-input placeholder="Sua ID"></ion-input>
        <ion-button class="buttonLogin" expand="block" fill = "clear">Entrar</ion-button>
      </form>
      <div>
        <ion-button class="link" fill = "clear" routerLink="/register">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Não tenho cadastro</ion-label>
        </ion-button>
      </div>
    </div>
    <div>
      <img src="../../assets/heroes.png">
    </div>
  </div>
</ion-content>